@model KutuphaneMvc.Classes.Kitap
@{
    ViewData["Title"] = "Kitap Detayları";
}
<h1 class="text-center text-uppercase">Kitap Detayları</h1>
<div>
    <hr />
    <div class="text-center text-uppercase align-items-center text-white p-3 my-3 bg-secondary rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h2 mb-0 lh-1 text-white">@Model.Ad</h1>
        </div>
        <div class="lh-1">
            <small><b>Basım tarihi:</b> @Model.BasimYili.ToString("D")</small>
            <br />
            <small><b>Basım Sayısı:</b> @Model.BasimSayisi</small>
            <br />
            <small><b>Sayfa Sayısı:</b> @Model.SayfaSayisi</small>
        </div>
    </div>
    @{
        if (Model.Yazarlar != null)
        {
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Yazarlar</h6>
                @foreach (var yazar in Model.Yazarlar)
                {
                    <div class="d-flex text-muted pt-3">
                        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="@yazar.AdSoyad" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>@yazar.AdSoyad</title>
                            <rect width="100%" height="100%" fill="#007bff"></rect>
                        </svg>
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark h4">@yazar.AdSoyad</strong>
                                <a asp-controller="Yazar" asp-action="Detaylar" asp-route-id="@yazar.Id">Detaylar</a>
                            </div>
                            <p class="d-block">
                            <p class="ms-2">@yazar.Adres</p>
                            <p class="ms-2">@yazar.Telefon</p>
                            <p class="ms-2">@yazar.Mail</p>
                            </p>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
<div>
    <a asp-action="Duzenle" asp-route-isbn="@Model?.Isbn">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
