@using KutuphaneMvc.Classes;
@model KitapEkleViewModel

@{
    ViewData["Title"] = "Kitap Düzenle";
}

<h1 class="text-center text-uppercase">Kitap Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Duzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kitap.Isbn" class="form-label"></label>
                <input asp-for="Kitap.Isbn" class="form-control" />
                <span asp-validation-for="Kitap.Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Ad" class="form-label"></label>
                <input asp-for="Kitap.Ad" class="form-control" />
                <span asp-validation-for="Kitap.Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.BasimYili" class="form-label"></label>
                <input asp-for="Kitap.BasimYili" class="form-control" />
                <span asp-validation-for="Kitap.BasimYili" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.BasimSayisi" class="form-label"></label>
                <input asp-for="Kitap.BasimSayisi" class="form-control" />
                <span asp-validation-for="Kitap.BasimSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.SayfaSayisi" class="form-label"></label>
                <input asp-for="Kitap.SayfaSayisi" class="form-control" />
                <span asp-validation-for="Kitap.SayfaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yazarlar" class="form-label"></label>
                @Html.ListBoxFor(m => m.Yazarlar, new MultiSelectList(Model.YazarlarDb, "Id", "AdSoyad"), new { @class = "form-control", multiple = "multiple" })
                <span asp-validation-for="Yazarlar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Turler" class="form-label"></label>
                @Html.ListBoxFor(m => m.Turler, new MultiSelectList(Model.TurlerDb, "Id", "Ad"), new { @class = "form-control", multiple = "multiple" })
                <span asp-validation-for="@Model.Turler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.YayinEvi" class="form-label"></label>
                @Html.DropDownListFor(m => m.YayinEvi, new SelectList(Model.YayinEvleriDb, "Id", "Ad"), new { @class = "form-control" })
                <span asp-validation-for="@Model.YayinEvi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}